body {
    background: #eef2f7;
    margin: 0;
    font-family: Arial, sans-serif;
}

.logo-box {
    margin: 100px 100px;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: column; /* ini kuncinya */
}

.logo {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.logo-box:hover .logo {
    transform: scale(1.1);
    transition: 0.3s;
}

.menu-text {
    display: inline-block;
    margin-top: 10px;
    background: #ddd;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    transition: 0.3s;
}

/* HOVER KE TEKS */
.menu-text:hover {
    transform: scale(1.1);
    background: orange;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; /* jarak antar OSIS & MPK */
    margin-top: 100px;
}